.infoTablo {
    background: rgba(0, 111, 156, 0.93);
    margin-top: 20px;
    position: absolute;
    display: flex;
    width: 53%;
    max-width: 550px;
    min-width: 240px;
    height: 220px;
    border: blue solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px blue;
    color: lawngreen;
    font-size: xxx-large;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.errorClass {
    color: red;
    background: rgba(255,192,123,0.93)
}

.errorMessage {
    justify-content: flex-end;
    font-size: large;
    color: rgba(255,46,51,0.93);
}

.countInfo {
    font-size: small;
}

/*@media (max-width: 1045px) {*/
/*    .infoTablo {*/
/*        padding: 10px;*/
/*    }*/
/*}*/