.wrapper {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.counter {
    background: rgba(177, 185, 255, 0.74);
    padding: 20px;
    width: 60%;
    height: 350px;
    border: blue solid 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px blue;
}